:root {
  --disney-color: #ffcc52;
}
.welcomebody {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95.6vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-image: url(../../images/disney-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.btn-bg {
  width: 100%;
  background-image: url(../../images/btn-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.welcomebody.blur {
  filter: blur(7px);
}
@font-face {
  font-family: "Waltograph";
  src: url("../../fonts/waltograph42.otf") format("truetype");
}
@keyframes rotacionar {
  0% {
    transform: rotateZ(-30deg);
  }
  100% {
    transform: rotateZ(30deg);
  }
}
.rotacao {
  animation: rotacionar 3s infinite alternate;
  color: var(--disney-color);
  display: inline-block;
  font-family: "Waltograph", sans-serif;
  font-size: 2rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 4px 4px 2px rgba(0, 0, 0, 0.71);
}
.welcome {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 1rem 1rem;
  transition: filter 0.3s ease;
}
.welcomebtn {
  background: rgb(171, 191, 236);
  background: radial-gradient(circle, rgba(171, 191, 236, 1) 9%, rgba(88, 122, 199, 1) 58%, rgba(1, 15, 46, 1) 100%);
  border: 1px solid rgb(100, 100, 100);
  border-radius: 1rem;
  color: #ffcc52;
  cursor: pointer;
  font-family: "Waltograph", sans-serif;
  font-size: 1.25rem;
  padding: 0.25rem 3rem;
  transition: ease-in-out 1s;
  text-transform: capitalize;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  top: -200px;
  left: 43%;
}
.welcomebtn:hover {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 5%, rgba(255, 204, 82, 1) 55%, rgba(233, 165, 0, 1) 100%);
  color: rgba(88, 122, 199, 1);
  letter-spacing: 2px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 4px 4px 2px rgba(0, 0, 0, 0.9);
  text-transform: capitalize;
  transform: scale(1.2);
}

@media screen and (min-width: 1023px) and (max-width: 1100px) {
  .welcomebtn {
    left: 40%;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .welcomebtn {
    left: 36%;
  }
}
@media screen and (min-width: 376px) and (max-width: 425px) {
  .welcomebtn {
    left: 27%;
  }
}
@media screen and (min-width: 351px) and (max-width: 375px) {
  .welcomebtn {
    left: 23%;
  }
}
@media screen and (min-width: 319px) and (max-width: 350px) {
  .welcomebtn {
    left: 18%;
  }
}
